<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <title>FunnyUrls</title>
    <link th:href="@{/styles/style.css}" rel="stylesheet" />
    <link th:href="@{/img/icon.png}" rel="shortcut icon" />
    <script th:inline="javascript">
    </script>
    <script type="text/javascript" th:src="@{/js/script.js}"></script>
</head>
<body>
<!-- text -->
<h1>404</h1>
<h2>This Is Not the Page You Are Looking For</h2>

<form action="/" method="GET" id="main">
    <div>
        <button>THIS IS THE WAY</button>
    </div>
</form>
<!-- text -->
<script  src="../static/js/script.js"></script>

</body>
</html>