body {
  font-family: system-ui;
  background: #1300ff;
  color: white;
  text-align: center;
  #display: flex;
  justify-content: center;
  align-items: center;
}
h1 {
  margin-bottom: 0;
  font-size: 86px;
}
h2 {
  margin-bottom: 20px;
  margin-top: 0;
  color: #10f801;
}
form {
  margin: 50px auto;
}
button {
  background: black;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  tab-size: 36px;
  border: #f06d06;
  border-radius: 50px;
  padding: 20px;
  cursor: pointer;
}
input {
  width: 60%;
  /* Reset CSS */
  box-sizing: border-box;
  margin: 0;
  /* End Reset CSS */
  border: #f06d06;
  border-radius: 50px;
  padding: 20px;
}